.float-right {
    float: right;
} 

.m-float-right {
    @mixin atM {
        float: right;
    }
}

.icon {
    display: inline-block;
}

.trn {
    opacity: 0;
}

.wide {
    letter-spacing: .02em;
    font-size: 1.05em;
}

.m-wide {
    @mixin atM {
        letter-spacing: .02em;
        font-size: 1.05em;
    }
}

.centered {
    text-align: center;
}

