.headline {
    font-size: 28px;
    margin-bottom: 40px;

    @mixin atL {
        font-size: 36px;
        margin-bottom: 60px;
    }

    &--mb-s {
        margin-bottom: 15px;

        @mixin atL {
            margin-bottom: 40px;
        }
    }

}