.options {
    text-align: center;

    .container {
        @mixin atXL {
            padding: 0 20px;
        }

    }

    .row {
        @mixin atXL {
            margin: 0 -20px;
        }

    }

    .col {
        @mixin atXL {
            padding: 0 10px;
        }

    }

    h2 {
        @mixin atXL {
            margin-bottom: 70px;
        }
    }

    &__card {
        position: relative;
        background: #fff;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 40px;

        @mixin atM {
            min-height: 355px;
        }
        
        @mixin atL {
            min-height: 385px;
        }

        @mixin atXL {
            margin: 0 10px 50px;
            min-height: 470px;
            margin-bottom: 50px;
        }

        &--l {

            @mixin atXL {
                margin: 0;
                position: relative;
                top: -15px;
                height: 505px;
            }

            .options__card-title {

                @mixin atXL {
                    min-height: 140px !important;
                }
            }

            .options__card-desc {

                @mixin atXL {
                    min-height: 200px !important;
                }
            }

        }

    }

    &__card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 20px 0;
        border-bottom: 1px solid $grey-l;

        @mixin atL {
            min-height: 105px;
        }
        
        @mixin atXL {
            min-height: 115px;
            padding: 30px 30px 5px;
        }
    }

    &__card-desc {
        padding: 20px 20px;

        @mixin atXL {
            padding: 30px 30px;
            min-height: 190px;
        }
    }

    &__card-price {
        padding: 0 20px;
        font-family: $mons;
        font-weight: 500;
        font-size: 20px;
        font-weight: 500;

        @mixin atXL {
            padding: 0 30px;
            font-size: 22px;
        }
    }

    &__card-bottom {
        padding: 25px 20px 20px;

        @mixin atM {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 30px 30px;
        }
    }

    &__card-button {
        width: 100%;
        min-width: 100%;

        @mixin atXL {
            padding: 17px;
        }
    }

    &__note {
        opacity: .75;
        color: #fff;
        p {
            margin-bottom: 0;
        }
    }

}