.pricelist {
    &__section {
        margin-bottom: 40px;

        @mixin atL {
            margin-bottom: 70px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {

        @mixin atL {
            font-size: 24px;
            margin-bottom: 35px;
        }
    }
}