.services {

    padding-bottom: 15px;

    @mixin atM {
        padding-bottom: 35px;

    }

    @mixin atL {
        background: url('../../assets/images/icons/1c--l.svg') no-repeat;
        background-position: left 30px;
        background-size: cover;
        padding-bottom: 40px;
    }

    &__item {
        position: relative;
        margin-bottom: 40px;

        @mixin atL {
            margin-bottom: 60px;
            padding-left: 50px;
        }
    }

    &__item-title {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        height: 36px;

        @mixin atL {
            margin-bottom: 20px;
            height: 56px;
        }
    }

    &__item-icon {
        position: absolute;
        left: 0;
        top: 2px;

        @mixin atL {
            top: 10px;
        }
    }

    h3 {
        margin-bottom: 0;
        padding-left: 50px;

        @mixin atL {
            padding-left: 0;
        }

    }
}