.services {
    background: url('../../assets/images/icons/1c--l.svg') no-repeat;
    background-position: left 30px;
    background-size: cover;
    padding-bottom: 40px;
    
    &__item {
        position: relative;
        padding-left: 50px;
        margin-bottom: 60px;
    }
    
    &__item-title {
        height: 56px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    &__item-icon {
        position: absolute;
        left: 0;
        top: 10px;
    }
    
    h3 {
        margin-bottom: 0;
    }
}